/*
*	RESET CSS - Ateneu
*/

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
	color: inherit;
}
:focus { outline: 0;}
a, a:link, a:visited, a:hover, a:active{text-decoration:none}
table {	border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul {list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
select {margin: inherit;}
hr {margin: 0;padding: 0;border: 0;color: #000;background-color: #000;height: 1px}

/** Custom CSS */
<<<<<<< HEAD
body {
	background-image: url('../img/bg.png');
	width: 960px;
	margin: 0 auto;
	font-family: 'Droid Sans', sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}

h1 {
	margin-top: 20px;
	font-size: 100px;
	font-family: 'Oleo Script Swash Caps', serif;
	text-align: center;
	color: #D64F2A;
}

h2 {
	font-size: 40px;
	font-family: 'Droid Sans', sans-serif;
	color: #335D6A;
	text-align: center;
}

canvas {
	display: block;
	width: 400px;
	height: 400px;
	margin: 0 auto;
=======

canvas {
	width: 400px;
	height: 400px;
>>>>>>> Webpage made public with github
}